@model RestaurantUI.Models.ReceiptDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Receipt</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TableNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.TableNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receipt.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receipt.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receipt.SubTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receipt.SubTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receipt.Tax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receipt.Tax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receipt.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receipt.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receipt.CreatedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receipt.CreatedDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Receipt.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
