@model RestaurantUI.Models.ReceiptDetailsViewModel

@{
    ViewData["Title"] = "QuickCreate";
}

<h1>Create</h1>

<h4>Receipt</h4>
<hr />
<div class="row">
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Order.TableNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Order.TableNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Order.CustomerNote)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Order.CustomerNote)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Order.CreatedDateTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Order.CreatedDateTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Order.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Order.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Order.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Order.Price)
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.OrderID" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
